.header {
    display: flex;
    box-shadow: 0 0 20px rgba(0,0,0, 0.3);
    z-index: 99;

    height: 4rem;

    &-text {
        padding-left: 10px;
        font-size: 20px;
        font-weight: 600;
        display: flex;

        p {
            margin: auto;
        }
    }

    &-grow {
        flex-grow: 1;
    }

    &-nav {
        display: flex;
        align-items: center;
        a {
            margin-right: 10px;
            padding-left: 10px;
            border-left: 1px solid rgba(0,0,0,0.2);
            text-decoration: none;
            
            color: rgba(0, 0, 0, 0.4);
            &:hover {
                cursor: pointer;
                color: rgba(0, 0, 0, 0.8)
            }

            &:first-child {
                border-left: 0;
            }
            
        }
    }
}